@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BYU Study Abroad</h1>
    <img src="https://www.montagnaestate.it/wp-content/uploads/Lauterbrunnen-montagna-estate-scaled.jpg" style="width:90%;" />
    <br /><br />
    <a class="btn btn-primary btn-lg mb-1" asp-controller="Students" asp-action="Checkin">Evening Check-In</a>
    <a class="btn btn-success btn-lg mb-1" href="https://docs.google.com/spreadsheets/d/1FFmdxcUZTHwlA_1AfRdm6UCDU1oJsGyjKS6A9EsTzJk/edit?usp=sharing" target="_blank">Schedule</a>
    <a class="btn btn-success btn-lg mb-1" href="https://docs.google.com/spreadsheets/d/1MAZkElfouJD0H1QdEMRlO0ZNG0r7f141cJVJlqzLExQ/edit?usp=sharing" target="_blank">Committees & Sign-Ups</a>
</div>
