@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BYU Study Abroad</h1>
    <img src="https://www.montagnaestate.it/wp-content/uploads/Lauterbrunnen-montagna-estate-scaled.jpg" style="width:90%;" />
    <br /><br />
    <a class="btn btn-primary btn-lg" asp-controller="Students" asp-action="Checkin">Evening Check-In</a>
</div>
