
@{
    ViewData["Title"] = "Resources";
}

<h1>Resources</h1>

<p>
    I don't know what to put here so here's a picture of Rylan's Face for the time being.
</p>

<img src="~/img/ryland.jpg" style="width:90%;" />

